
<table id="example" class="table table-hover" >
	  <thead>
		 <tr>
		   <th align="left">Nro</th>
		   <th align="left">Nombre comercial del material/equipo</th>
		   
<th align="left"></th>
		 </tr>
	  </thead>

	  <tbody>
		 <% @relations.each_with_index do |relation,index| %>
	  		<tr>
		     <td><%= index+1 %></td>
                      <% @items.each_with_index do |item,index| %>
			<% if item.id == relation.item_id %>
			<td><%= item.nombre %></td>
			<% end %>
			<% end %>
		     
		     
<td style="text-decoration:none; color:black; text-align: right"><a href="/relations/<%= relation.id %>.pdf"><button type="button" class="btn btn-primary"> Descargar </button></a> <%= link_to '<button type="button" class="btn btn-warning"> Consultar </button>'.html_safe, relation %></td>     
		   </tr>
		 <% end %>
		 <% if @sumRelation == 0 %>
		 	<tr class="warning">
				<td class="text-center" colspan="5"><h4>No hay relaciones descriptivas registradas</h4></td>
			</tr>
		 <% end %>
	  </tbody>
	</table>
<script>
$(document).ready(function() {
				$('#example').dataTable( {
					"bJQueryUI": true,
					"sPaginationType": "full_numbers"
					
				} );
			} );
$.fn.dataTableExt.sErrMode = 'throw';
</script>

<style>

a:visited { 
   color:black;
   font-weight: bold;
	font-size: 110%;
}

#invitationTable th {
      background-color: #94E79E;
      border-color:#7A7070;
     font-size: 14px;
  }

#invitationTable th, td, tr{
 border-color:black;
 }



 .table-hover {

border-color:#7A7070;

}

.table-hover>tbody>tr>td {

border-color:#7A7070;

}

.table-hover>tbody>tr:hover {
background-color: #ffff99;
}

#invitationTable tr:nth-child(even) {

background-color: #F2F8F7;

}

input[type=submit] {
-webkit-appearance: button;
cursor: pointer;
background-color:#F8F0BE;
border-radius:px;
}

</style>
