<footer>

		<div class="grid_12">
		<br><br><br><br>
				<footer id="footer" class="section section-footer clearfix" role="footer">
					<div class="region region-footer">
			 			<div id="block-block-1" class="block block-block first">
		  					<div class="inner">
				          	<div class="content">
									<table align="left" border="0" cellpadding="1" cellspacing="1">
										<tbody>
											<tr>
												<td valign="top" width="95">
													<a href="http://www.usb.ve">
														<%= image_tag "cebolla_70_45.jpg"%>
													</a>
												</td>
												<td valign="bottom">
													&nbsp;
													<a href="http://www.usb.ve/home/node/68">e-virtual</a> |
													<a href="https://webmail.usb.ve/" target="_blank">Correo</a> |
													<a href="http://www.usb.ve/buscador.php" target="_blank"> </a>
													<a href="https://esopo.usb.ve">esopo</a> |
													<a href="http://www.usb.ve/buscador.php" target="_blank"> </a>
													<a href="http://www.youtube.com/canalusb" target="_blank">canalUSB</a> | 
													<a href="http://www.usb.ve/agenda.php" target="_blank">Agenda Cultural</a> | 
													<a href="http://usbnoticias.info/" target="_blank">USBnoticias</a> |
													<span> </span><span> </span>
													<a href="http://www.usb.ve/home/node/55">Calendario</a> |<br>
													<font size="0.769">
														&nbsp; Sede Sartenejas, Baruta, Edo. Miranda - Apartado 89000 - Cable Unibolivar - 															Caracas Venezuela. Teléfono +58 0212-9063111<br>
														&nbsp; Sede Litoral, Camurí Grande, Edo. Vargas Parroquia Naiguatá. Teléfono +58 0212-9069000<br>
														&nbsp; Diseñada y desarrollada por la Dirección de Servicios Multimedia
													</font>										
														<a href="mailto:webmaster@usb.ve">webmaster@usb.ve</a>
											  </td>
										 </tr>
									</tbody>
				             </table>
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
		  	</div>
		</footer>
   </div>



</footer>
