
<div class="col-xs-12">

  <h1>Donaciones</h1>

</div><br>

<div class="col-xs-12">

  <%= render 'donationsTable' %>
  <i class="fa fa-plus-circle"></i><%= link_to ' Nueva Donación', new_donation_path, 'data-no-turbolink' => true %> |
  <i class="fa fa-arrow-left"></i><%= link_to ' Atrás ', inventario_url %> 


</div>

  <br>
