<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li class="active">Proyectos</li>
		</ol>
	</div>
	<div class="col-xs-8 col-xs-offset-2">
		<ul class="administration-list">
			<li><%= link_to action: :list do %>
				<h3><i class="fa fa-list-ul"></i>Gestión de proyectos</h3>
			<% end %></li>
			<% if current_user.director? or current_user.directorate? or current_user.acquisition? or  current_user.manage? or current_user.manage_analist? or current_user.proy_responsible? %>	
				<li><%= link_to action: :admin do %>
					<li><h3><i class="fa fa-credit-card"></i>Resumen presupuestario de proyectos</h3></li>
				<% end %></li>
			<% end %>
		</ul>
	</div>
</div>