<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-12">
			<ol class="breadcrumb">
				<li><%= link_to 'Inicio', controller: 'statics' %></li>
			</ol>
		</div>
		<div class="col-xs-8 col-xs-offset-2">
			<ul class="administration-list">
				<div class="grid_7 push_3">
					<br>
					<br>
					<br>
					<%= link_to '<button type="button" class="btn btn-primary"> <br> &nbsp; &nbsp; <i class="fa fa-shopping-cart fa-2x"></i> <br> <br> &nbsp; &nbsp; &nbsp; COMPRAS &nbsp; &nbsp; &nbsp; <br> &nbsp; </button>'.html_safe, compras_url %> &nbsp; &nbsp; &nbsp; &nbsp;
					<%= link_to '<button type="button" class="btn btn-primary"> <br> &nbsp; &nbsp; &nbsp; <i class="fa fa-eyedropper fa-2x"> </i> <br> <br> &nbsp; &nbsp; INVENTARIO &nbsp; &nbsp; <br> &nbsp; </button>'.html_safe, inventario_url %> &nbsp; &nbsp; &nbsp; &nbsp;
					<%= link_to '<button type="button" class="btn btn-primary"> <br> &nbsp; &nbsp; &nbsp; <i class="fa fa-calculator fa-2x"></i> <br> <br> ADMINISTRACIÓN <br> &nbsp; </button>'.html_safe, administration_url %><br><br>
				</div>
			</ul>
		</div>
	</div>
<% end %>
