<%= stylesheet_link_tag 'demo_table_jui.css'%>
<%= stylesheet_link_tag 'examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css'%>


<%= link_to '<button type="button" class="btn btn-success" style="margin-left:800px;margin-bottom:-100px;"><span style="font-size:10px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar </button>'.html_safe, new_devolution_path %> 
    <a href='compras'><button type="button" class="btn btn-primary" style="margin-bottom:-100px;"> Volver </button></a>


  <div class="grid_12">
    
    <div class="grid_5">
      <h3>Notas de Devolución</h3><br>
    </div>

    <%= render 'devolutiontable' %>
    
  </div>

</body>
</html>


<style>
  
#agregar {
  font-size: 14px;
}

h3 {
  position: relative;
  
}

</style>
